SERVER_URL=
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=
ONESIGNAL_APP_ID=
PAYPAL_SECRET=
PAYPAL_CLIENT_ID=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
MERCADOPAGO_ACCESS_TOKEN=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
FLUTTERWAVE_PUBLIC_KEY=
EXPRESSPAY_MERCHANT_ID=
EXPRESSPAY_MERCHANT_KEY=
EXPRESSPAY_MERCHANT_PASSWORD=
PHONEPE_SALT_KEY=
PHONEPE_MERCHANT_ID=
AFTERSHIP_API_KEY=
GOOGLE_API_KEY_IOS=
GOOGLE_API_KEY_WEB=
GOOGLE_API_KEY_ANDROID=
JUDGE_REVIEW_API_KEY=
PAYPAL_EXPRESS_USERNAME=
PAYPAL_EXPRESS_PASSWORD=
PAYPAL_EXPRESS_SIGNATURE=
MYFATOORAH_API_TOKEN=
MIDTRANS_CLIENT_KEY=
XENDIT_SECRET_API_KEY=
THAWANI_SECRET_KEY=
THAWANI_PUBLISHABLE_KEY=
